.homePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movieCard {
  width: 22%;
  margin: 16px;
  text-align: center;
}

.movieCard img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
